<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据结构</title>
</head>
<body style="text-align:center">
<br>
<h2>数据结构查看</h2>

<div>
    <br>
    <form action="/deleteuser" method="post">
        <label for="">目录</label>
        <input type="text" name="point">

        <input type="submit" value="删除">
        <input type="submit" value="查看">
    </form>
    <h2 th:utext="${msg3}"></h2>
</div>

<div>
    <br>
    <form action="/updateuser" method="post">
        <label for="">知识点</label>
        <br>
        <input type="text" name="point">
        <br>
        <label for="">知识点介绍</label>
        <br>
        <textarea name="explanation" style="width:800px;height:150px;"></textarea>
        <br>
        <input type="submit" value="更改说明">
    </form>
    <h2 th:utext="${msg4}"></h2>
</div>
<div>
    <br>
    <form action="/getallusers" method="post">
        <input type="submit" value="查看全部记录">
    </form>
</div>
</body>
</html>