<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看全部记录</title>
</head>
<body style="text-align: center;">
<form action="/login">

    <table style="margin-top:10px;margin-left:20px;" border="1">
        <thead>
        <div>
            <br>
            <label for="">序号</label>
            <br>
            <input type="text" name="point">
            <br>
            <label for="">详细说明</label>
            <br>
            <textarea name="explanation" style="width:800px;height:150px;"></textarea>
        </div>


        <tr th:each="User:${userList}" style="text-align:center;vertical-align:middle;">
            <td th:text="${User.ID}"></td>
            <td th:text="${User.point}"></td>
            <td th:text="${User.explanation}"></td>
        </tr>
        </thead>
    </table>

    <br>
    <input style="margin-left:20px" type="submit" value="返回" >
</form>
</body>
</html>